<div class="hash-toggle-group">

    <ul class="hash-toggle-nav">
        <li><a href="#hash-link-alpha&hash-toggle-alpha" id="hash-link-alpha" data-toggle="active" data-toggle-trigger="hash" data-group="hash-link-group">Hash Toggle Group Item 1</a></li>
        <li><a href="#hash-link-beta&hash-toggle-beta" id="hash-link-beta" data-toggle="inactive" data-toggle-trigger="hash" data-group="hash-link-group">Hash Toggle Group Item 2</a></li>
        <li><a href="#hash-link-gamma&hash-toggle-gamma" id="hash-link-gamma" data-toggle="inactive" data-toggle-trigger="hash" data-group="hash-link-group">Hash Toggle Group Item 3</a></li>
    </ul>

    <div id="hash-toggle-alpha" class="hash-toggle-panel" data-toggle="active" data-group="hash-toggle-group">
        <h3>Hash Toggle Group Item 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum eros sed orci luctus iaculis. Quisque rhoncus interdum congue. Phasellus dictum ac orci in sollicitudin. Nullam vulputate et lacus nec sollicitudin. Nullam nec consectetur sapien. Nullam sed lobortis lacus, sodales tempus nunc.</p>
    </div>

    <div id="hash-toggle-beta" class="hash-toggle-panel" data-toggle="inactive" data-group="hash-toggle-group">
        <h3>Hash Toggle Group Item 2</h3>
        <p>Donec dignissim neque mi, a vulputate nisl consequat eu. Donec eget turpis egestas, tincidunt nisi vel, eleifend dui. Suspendisse lacinia cursus enim vel iaculis. Aliquam et lectus viverra, rutrum purus vel, porttitor augue. Morbi lacinia quis augue vitae pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div id="hash-toggle-gamma" class="hash-toggle-panel" data-toggle="inactive" data-group="hash-toggle-group">
        <h3>Hash Toggle Group Item 3</h3>
        <p>Pellentesque in nibh orci. Nulla et nisi pellentesque, luctus nulla adipiscing, laoreet dolor. Maecenas ultricies porta quam, ac aliquam odio molestie eu. Vivamus et odio ligula. Proin libero augue, condimentum feugiat libero eu, imperdiet vestibulum nisl.</p>
    </div>

</div>