<a href="#hash-toggle-dialog&overlay" data-toggle-trigger="hash">Open a dialog trough hash</a>

<div id="hash-toggle-dialog" class="hash-toggle-dialog" data-toggle="inactive">

    <div class="dialog-content">
        <h3>Hash Toggle Dialog</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum eros sed orci luctus iaculis. Quisque rhoncus interdum congue. Phasellus dictum ac orci in sollicitudin. Nullam vulputate et lacus nec sollicitudin. Nullam nec consectetur sapien. Nullam sed lobortis lacus, sodales tempus nunc.</p>
    </div>

    <a href="#" class="close-link">×</a>

</div>

<a href="#" id="overlay" class="overlay" data-toggle="inactive">Close Dialog</a>

