{% highlight 'html' %}
<a href="#hash-toggle-dialog&overlay"
   data-toggle-trigger="hash">...</a>

<div id="hash-toggle-dialog"
     data-toggle="inactive">
    ...
    <a href="#" class="close-link">...</a>
</div>

<a href="#" id="overlay"
   data-toggle="inactive">...</a>
{% endhighlight %}