{% highlight 'html' %}
<a href="#hash-link-alpha&hash-toggle-alpha" id="hash-link-alpha"
   data-toggle="active"
   data-toggle-trigger="hash"
   data-group="hash-link-group">...</a>

<div id="hash-toggle-alpha"
     data-toggle="active"
     data-group="hash-toggle-group">...</div>
{% endhighlight %}