{% highlight 'html' %}
<h3 id="trigger-beta"
    data-toggle="inactive"
    data-toggle-trigger="element"
    data-toggle-target="toggle-alpha"
    data-group="toggle-trigger-group">...</h3>

<div id="toggle-beta"
     data-toggle="inactive"
     data-group="toggle-group">...</div>
{% endhighlight %}