{% highlight 'html' %}
<body data-toggle-trigger="body"
      data-toggle-target="dropdown-trigger,dropdown"
      data-toggle-event="mouseover">

    ...

    <button id="dropdown-trigger"
            data-toggle="inactive"
            data-toggle-trigger="element"
            data-toggle-target="dropdown"
            data-toggle-event="mouseover">...</button>

    <ul id="dropdown"
        data-toggle="inactive">...</ul>

</body>
{% endhighlight %}