<div class="toggle-dropdown">

    <button type="button" id="dropdown-trigger" class="toggle-button toggle-dropdown-button" data-toggle="inactive" data-toggle-trigger="element" data-toggle-target="dropdown" data-toggle-event="mouseover">Toggle Dropdown</button>

    <div class="dropdown-wrapper">

        <ul id="dropdown" class="dropdown" data-toggle="inactive">
            <li><a href="#">Dropdown Item 1</a></li>
            <li><a href="#">Dropdown Item 2</a></li>
            <li><a href="#">Dropdown Item 3</a></li>
        </ul>

    </div>

</div>