<div class="toggle-group">

    <h3 id="trigger-alpha" data-toggle="inactive" data-toggle-trigger="element" data-toggle-target="toggle-alpha" data-group="toggle-trigger-group">Toggle Group Item 1</h3>
    <div id="toggle-alpha" class="toggle-panel" data-toggle="inactive" data-group="toggle-group">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum eros sed orci luctus iaculis. Quisque rhoncus interdum congue. Phasellus dictum ac orci in sollicitudin. Nullam vulputate et lacus nec sollicitudin. Nullam nec consectetur sapien. Nullam sed lobortis lacus, sodales tempus nunc.</p>
    </div>

    <h3 id="trigger-beta" data-toggle="inactive" data-toggle-trigger="element" data-toggle-target="toggle-beta" data-group="toggle-trigger-group">Toggle Group Item 2</h3>
    <div id="toggle-beta" class="toggle-panel" data-toggle="inactive" data-group="toggle-group">
        <p>Donec dignissim neque mi, a vulputate nisl consequat eu. Donec eget turpis egestas, tincidunt nisi vel, eleifend dui. Suspendisse lacinia cursus enim vel iaculis. Aliquam et lectus viverra, rutrum purus vel, porttitor augue. Morbi lacinia quis augue vitae pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <h3 id="trigger-gamma" data-toggle="inactive" data-toggle-trigger="element" data-toggle-target="toggle-gamma" data-group="toggle-trigger-group">Toggle Group Item 3</h3>
    <div id="toggle-gamma" class="toggle-panel" data-toggle="inactive" data-group="toggle-group">
        <p>Pellentesque in nibh orci. Nulla et nisi pellentesque, luctus nulla adipiscing, laoreet dolor. Maecenas ultricies porta quam, ac aliquam odio molestie eu. Vivamus et odio ligula. Proin libero augue, condimentum feugiat libero eu, imperdiet vestibulum nisl.</p>
    </div>

</div>