<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" href="static/css/screen.css" media="screen">

</head>
<body data-toggle-trigger="body" data-toggle-target="dropdown-trigger,dropdown" data-toggle-event="mouseover">

{% block content %}{% endblock %}

<!-- IE9 Polyfills -->
<!-- build:js static/js/polyfill-ie9.js -->
<!--[if lte IE 9]>
<script src="static/js/polyfill/classList.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- IE8 Polyfills -->
<!-- build:js static/js/polyfill-ie8.js -->
<!--[if IE 8]>
<script>var ie8 = true</script>
<script src="static/js/polyfill/EventListener.js"></script>
<script src="static/js/polyfill/Object.create.js"></script>
<script src="static/js/polyfill/contentLoaded.js"></script>
<script src="static/js/polyfill/bind.js"></script>
<script src="static/js/polyfill/array.generics.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- include mira-toggle -->
<!-- build:js static/js/mira-toggle.min.js -->
<!-- Utils -->
<script src="static/js/utils/Namespace.js"></script>
<script src="static/js/utils/Observer.js"></script>

<!-- Toggle classes -->
<script src="static/js/mira/toggle/TriggerController.js"></script>
<script src="static/js/mira/toggle/Manager.js"></script>
<script src="static/js/mira/toggle/Toggle.js"></script>
<script src="static/js/mira/toggle/Trigger.js"></script>
<script src="static/js/mira/toggle/ElementTrigger.js"></script>
<script src="static/js/mira/toggle/HashTrigger.js"></script>
<script src="static/js/mira/toggle/BodyTrigger.js"></script>
<script src="static/js/mira/toggle/Group.js"></script>
<!-- endbuild -->

<!-- include demo starting point -->
<!-- build:js static/js/main.js -->
<script src="static/js/mira/core/Main.js"></script>
<!-- endbuild -->

<!-- create demo instance -->
<script>new mira.core.Main.getInstance()</script>

</body>
</html>