
/* Constants
---------------------------------------------------------*/
$font-base-color:#333;
$font-base-size:.875em;
$border-color:#d2d2d2;
$base-color:#fff;
$hover-color:#f6f6f6;
$active-color:#e6e6e6;
$base-radius:4px;


/* Base & Layout
---------------------------------------------------------*/
* {
    box-sizing:border-box;
}

body {
    margin:0;
    padding:0;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

%heading-base {
    font-weight:500;
    color:$font-base-color;
}

h1 {
    @extend %heading-base;
    margin:0;
    font-size:1.5em;
}

h2 {
    @extend %heading-base;
    padding-bottom:6px;
    margin:30px 0 20px 0;
    border-bottom:1px solid #eeeeee;
    font-size:1.125em;
}

h3 {
    @extend %heading-base;
    font-size:$font-base-size;
}

p {
    font-size:.813em;
    font-weight:normal;
}

a {

    font-size:.813em;
    color:$font-base-color;

    &:hover {
        color:#878787;
    }

}

.wrapper {
    max-width:50em;
    padding:1.5em 1em 3em 1em;
}


/* Components
---------------------------------------------------------*/

/* Toggle Button */
.toggle-button {

    padding:.571em .857em;
    margin:0;
    border:1px solid $border-color;
    border-radius:$base-radius;
    background-color:#fff;
    font-size:$font-base-size;
    font-weight:normal;
    font-family:inherit;
    color:$font-base-color;
    cursor:pointer;

    &:hover {
        background-color:$hover-color;
    }

    &:focus {
        outline:none;
    }

    &[data-toggle="active"] {

        border-color:#adadad;
        background-color:$active-color;

        &:hover {
            border-color:$border-color;
            background-color:$hover-color;
        }

    }

}

/* Toggle Group */
.toggle-group {

    overflow:hidden;
    border-bottom:1px solid $border-color;
    border-radius:$base-radius;

    :first-child {
        border-top-left-radius:$base-radius;
        border-top-right-radius:$base-radius;
    }

    :last-child {
        border-bottom-left-radius:$base-radius;
        border-bottom-right-radius:$base-radius;
    }

    h3 {

        display:block;
        padding:.571em .813em;
        margin:0;
        border:1px solid $border-color;
        background-color:$base-color;
        font-size:$font-base-size;
        cursor:pointer;

        &:hover {
            background-color:$hover-color;
        }

        &[data-toggle="inactive"]:last-of-type {
            border-bottom-left-radius:$base-radius;
            border-bottom-right-radius:$base-radius;
        }

        &[data-toggle="active"] {
            background-color:$active-color;
            cursor:default;
        }

    }

}

.toggle-panel {

    overflow:hidden;
    height:5em;
    margin:0 0 -1px 0;
    border-left:1px solid $border-color;
    border-right:1px solid $border-color;
    transition:height .3s ease-in-out;

    &[data-toggle="inactive"] {
        height:0;
        padding:0;
    }

    p {
        margin:1.25em .938em;
    }

}


/* Toggle Trigger Link */
.toggle-trigger-link {
    display:inline-block;
}


/* Has Toggle Group */
.hash-toggle-nav {

    list-style-type:none;
    display:inline-block;
    padding:0;
    margin:0 0 -1px 0;
    border:1px solid $border-color;
    border-bottom:none;
    border-top-left-radius:$base-radius;
    border-top-right-radius:$base-radius;

    li {
        display:inline-block;
        margin-right:-4px;
    }

    a {

        display:block;
        padding:.571em .857em;
        text-decoration:none;
        border-right:1px solid $border-color;
        border-bottom:1px solid $border-color;
        background-color:$base-color;
        font-size:$font-base-size;
        font-weight:500;

        &:hover {
            color:$font-base-color;
            background-color:$hover-color;
        }

        &[data-toggle="active"] {
            border-bottom-color:#fff;
            background-color:#fff;
        }

    }

    li:last-child {

        margin-right:0;

        a {
            border-right:none;
            border-top-right-radius:$base-radius;
        }

    }

    li:first-child a {
        border-top-left-radius:$base-radius
    }

}

.hash-toggle-panel {

    display:block;
    padding:1em .750em;
    min-height:6.625em;
    border:1px solid $border-color;
    border-radius:$base-radius;
    border-top-left-radius:0;

    &[data-toggle="inactive"] {
        display:none;
    }

    h3 {
        margin:0;
    }

    p {
        margin:.625em 0;
    }

    :last-child {
        margin-bottom:0;
    }

}


/* Toggle Dropdown */
.toggle-dropdown {
    position:relative;
}

.toggle-dropdown-button {

    position:relative;
    z-index:16;

    &[data-toggle="active"] {
        border-color:$border-color;
        border-bottom-left-radius:0;
        border-bottom-right-radius:0;
        background-color:$hover-color;
    }

}

.dropdown-wrapper {
    position:absolute;
    z-index:15;
    top:33px;
    left:0;
    overflow:hidden;
    min-width:190px;
    min-height:110px;

}

.dropdown {

    list-style-type:none;
    display:inline-block;
    min-width:11.25em;
    padding:0;
    margin:-1em 0 0 0;
    border:1px solid $border-color;
    border-radius:$base-radius;
    border-top-left-radius:0;
    background-color:#fff;
    opacity:0;
    transition:all .2s;
    box-shadow:2px 2px 7px 0 rgba(0,0,0,.2);
    pointer-events:none;

    a {

        display:block;
        padding:.571em .857em;
        border-bottom:1px solid $border-color;
        font-size:$font-base-size;
        color:$font-base-color;
        text-decoration:none;

        &:hover {
            background-color:$hover-color;
        }

    }

    li:last-child a {
        border-bottom:none;
    }

    &[data-toggle="active"] {
        opacity:1;
        transform:translateY(1em);
        pointer-events:auto;
    }

}

/* Dialog */
.hash-toggle-dialog {

    display:none;
    position:absolute;
    z-index:21;
    top:50%;
    left:50%;
    overflow:none;
    width:550px;
    height:400px;
    margin-top:-200px;
    margin-left:-275px;
    border:1px solid $border-color;
    border-radius:$base-radius;
    background-color:#fff;
    box-shadow:0 0 1.875em rgba(0,0,0,.25);

    &[data-toggle="active"] {
        display:block;
    }

}

.close-link {
    position:absolute;
    top:0;
    right:0;
    padding:0 .467em;
    font-weight:bold;
    font-size:1.875em;
    text-decoration:none;
}

.dialog-content {

    padding:2em 1.5em;

    h3 {
        margin:0;
    }

    p {
        margin:.625em 0;
    }

}

.overlay {

    display:none;
    position:fixed;
    z-index:20;
    top:0;
    right:0;
    bottom:0;
    left:0;
    overflow:hidden;
    background-color:rgba(0,0,0,.3);
    text-indent:-9999px;
    cursor:default;

    &[data-toggle="active"] {
        display:block;
    }

}


/* Code Highlight
---------------------------------------------------------*/
.hljs {
    display:block;
    padding:1.167em;
    margin-top:1em;
    border-radius:$base-radius;
    background-color:#f7f7f9;
    white-space:pre-wrap;
}

.hljs-title { color:#000080; }
.hljs-attribute { color:#d01040; }
.hljs-value { color:#008080; }