{% extends './_layouts/default.html' %}

{% block title %} Mira-Toggle {% endblock %}

{% block content %}
<div class="wrapper">

    <h1>Mira-Toggle Examples</h1>

    <h2>Standalone toggle</h2>
    <p>Example of a toggle/trigger without a target so it triggers itself.</p>

    {% include "./_includes/toggle-button.html" %}
    {% include "./_includes/highlight-toggle-button.html" %}

    <h2>Toggle group</h2>
    <p>Toggles and Triggers within a group. Before one gets active the group checks if one is allready active and deactivates this first. Usefull for components like accordions and tabs</p>

    {% include "./_includes/toggle-group.html" %}
    {% include "./_includes/highlight-toggle-group.html" %}

    <p>You can trigger every toggle within the page. Use comma separation for multiple targets.</p>
    {% include "./_includes/toggle-trigger-link.html" %}
    {% include "./_includes/highlight-toggle-trigger-link.html" %}

    <h2>Toggle dialog through hashchange</h2>
    <p>Example of using hashchange to trigger toggles by there id's.</p>
    {% include "./_includes/hash-toggle-dialog.html" %}
    {% include "./_includes/highlight-hash-toggle-dialog.html" %}

    <h2>Toggle group through hashchange</h2>
    <p>Hashchange example within a group.</p>
    {% include "./_includes/hash-toggle-group.html" %}
    {% include "./_includes/highlight-hash-toggle-group.html" %}

    <h2>Toggle dropdown</h2>
    <p>Example of a dropdown were the body functions as a deactivation trigger as soon as the dropdown gets activated. A custom event can be set with data-toggle-event instead of the default click event.</p>
    {% include "./_includes/toggle-dropdown.html" %}
    {% include "./_includes/highlight-toggle-dropdown.html" %}

</div>
{% endblock %}